input,select {
    margin-bottom: 15px;
}

body {
    font-family:Arial;
}
button{
    background-color:aquamarine;
    color: yellow; 
}

input{
    border-width: 1px;
    width: 50%;
}

select{
    border-width: 1px;
    width: 50%;
}

textarea{
    border-width:1px;
    width: 50%;
}